@import "../../assets/global-styles/global-styles";

main {
    .container {
        .player-section {
            margin-bottom: 1rem;
            
            .board {
                .cell.ship {
                    background: $ship-part;
                }

                .cell.shot {
                    background: $shot;
                }

                .cell.ship.shot {
                    background: $shot-on-ship;
                }

                .cell.sunk {
                    background: $sunk;
                }
            }
        }
    }
}

@media only screen and (min-width: 1080px) {
    main {
        .container {
            .player-section {
                margin-bottom: 0;
            }
        }
    }
}