@import "../../assets/global-styles/global-styles";

header {
    width: 100%;
    padding: 1rem 0;
    background: $surface;
    color: $on-surface;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

main {
    min-height: 100vh;
    padding: 5rem 1rem;
    position: relative;

    .main-header {
        padding: 0.5rem 2rem;
        width: 60%;
        margin: 0 auto;
        background: $primary;
        border: $on-background solid 2px;
        border-radius: 1rem;

        .btn {
            display: flex;
            flex-direction: column;
            justify-content: center;

            button {
                margin: 0.25rem 0;
                padding: 0.5rem 1rem;
                background: $on-surface;
                border: $on-background solid 2px;
                border-radius: 1rem;
            }
        }
        
        .result {
            margin: 1rem 0;
            display: flex;
            justify-content: center;

            div {
                margin: 0 0.5rem;
                text-align: center;

                h1 {
                    margin-bottom: 0.25rem;
                    font-size: 1.5rem;
                }
            }
        }

        ul {
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                line-height: 2rem;

                div {
                    margin-left: 0.25rem;
                    height: 1rem;
                    width: 1rem;
                    background: var(--i);
                }
            }
        }
    }

    .container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .player-section, .computer-section {
            text-align: center;

            .board {
                height: 30rem;
                width: 30rem;
                position: relative;

                .cell {
                    height: 3rem;
                    width: 3rem;
                    background: $primary;
                    border: $on-background solid 1px;
                    position: absolute;
                    cursor: crosshair;
                }

                .cell:hover:before {
                    content: "";
                    height: 100%;
                    width: 100%;
                    background: rgba(0, 0, 0, 0.2);
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }

        .player-section {
            margin-bottom: 1rem;
        }
    }

    .notification-modal {
        height: 100%;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;

        .modal-background {
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.6);
        }

        .modal-container {
            padding: 4rem;
            background: rgb(255, 255, 255);
            border-radius: 1rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            
            h1 {
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }

    .notification-modal.active {
        opacity: 1;
        pointer-events: all;
    }
}

@media only screen and (min-width: 1080px) {
    main {
        .main-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .container {
            flex-direction: row;
            align-items: flex-start;

            .player-section, .computer-section, .deploy-section {
                margin: 0 1rem;
            }
        }
    }
}