// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$primary: rgb(250, 241, 228);
$on-primary: rgb(0, 0, 0);

$background: rgb(206, 222, 189);
$on-background: rgb(0, 0, 0);

$surface: rgb(67, 83, 52);
$on-surface: rgb(255, 255, 255);

$ship-part: rgb(60, 200, 60);
$shot: rgb(60, 60, 60);
$shot-on-ship: rgb(200, 60, 60);
$sunk: rgb(200, 60, 200);